<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="selectList" resultType="boardDto" parameterType="String">
		SELECT B.BOARD_NO , B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD B, MEMBER M
		WHERE B.BOARD_CATEGORY = #{board_category}
		AND B.MEMBER_ID = M.MEMBER_ID
		ORDER BY B.BOARD_NOTICE_NO
	</select>
	
	<select id="selectOne" resultType="boardDto" parameterType="int">
		SELECT B.BOARD_NO , B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD B, MEMBER M
		WHERE BOARD_NO = #{board_no}
		AND B.MEMBER_ID = M.MEMBER_ID
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(#{board_no},#{board_notice_no},#{board_qna_no},#{board_title},#{board_content},#{board_date},#{board_readcount},
		#{board_groupno},#{board_groupseq},#{board_titletab},#{board_delflag},#{board_category},#{board_pw},#{member_id})
	
	</insert>
	
	<insert id="notice_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,BOARD_NOTICE_NO_SEQ.NEXTVAL,NULL,#{board_title},#{board_content},SYSDATE,0,
		0,0,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<insert id="qna_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,NULL,BOARD_QNA_NO_SEQ.NEXTVAL,#{board_title},#{board_content},SYSDATE,0,
		BOARD_GROUPNO_SEQ.NEXTVAL,1,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<update id="update" parameterType="boardDto">
		UPDATE BOARD SET
		BOARD_TITLE=#{board_title},BOARD_CONTENT=#{board_content},
		BOARD_DATE=SYSDATE
		WHERE BOARD_NO = #{board_no}
	</update>
	<update id="board_read">
		UPDATE BOARD SET
		BOARD_READCOUNT = #{board_readcount}
		WEHRE BOARD_NO = #{board_no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>
	<select id="qna_count" resultType="int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_CATEGORY = 'Q'
	</select>
	<select id="notice_count" resultType="int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_CATEGORY = 'N'
	</select>
</mapper>