<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="selectList" resultType="boardDto" parameterType="String">
		SELECT BOARD_NO , BOARD_NOTICE_NO, BOARD_QNA_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_READCOUNT,
		BOARD_GROUPNO, BOARD_GROUPSEQ, BOARD_TITLETAB, BOARD_DELFLAG, BOARD_CATEGORY, BOARD_PW, MEMBER_ID
		FROM BOARD
		WHERE BOARD_CATEGORY = #{board_category}
		ORDER BY BOARD_NOTICE_NO
	</select>
	
	<select id="selectOne" resultType="boardDto" parameterType="int">
		SELECT BOARD_NO, BOARD_NOTICE_NO, BOARD_QNA_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_READCOUNT,
		BOARD_GROUPNO, BOARD_GROUPSEQ, BOARD_TITLETAB, BOARD_DELFLAG, BOARD_CATEGORY, BOARD_PW, MEMBER_ID
		FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(#{board_no},#{board_notice_no},#{board_qna_no},#{board_title},#{board_content},#{board_date},#{board_readcount},
		#{board_groupno},#{board_groupseq},#{board_titletab},#{board_delflag},#{board_category},#{board_pw},#{member_id})
	
	</insert>
	
	<insert id="notice_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,BOARD_NOTICE_NO_SEQ.NEXTVAL,NULL,#{board_title},#{board_content},SYSDATE,0,
		0,0,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<insert id="qna_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,NULL,BOARD_QNA_NO_SEQ.NEXTVAL,#{board_title},#{board_content},SYSDATE,0,
		BOARD_GROUPNO_SEQ.NEXTVAL,1,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<update id="board_update" parameterType="boardDto">
		UPDATE BOARD SET
		BOARD_TITLE=#{board_title},BOARD_CONTENT=#{board_content},
		BOARD_REGDATE=SYSDATE
		WHERE BOARD_NO = #{board_no}
	</update>
	<update id="board_read">
		UPDATE BOARD SET
		BOARD_READCOUNT = #{board_readcount}
		WEHRE BOARD_NO = #{board_no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>
</mapper>