<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="board_notice_list" parameterType="PagingDto" resultType="BoardDto">
		SELECT X.rnum,
		X.BOARD_NO, X.BOARD_NOTICE_NO, X.BOARD_QNA_NO, X.BOARD_TITLE, X.BOARD_CONTENT, X.BOARD_DATE, X.BOARD_READCOUNT,
		X.BOARD_GROUPNO, X.BOARD_GROUPSEQ, X.BOARD_TITLETAB, X.BOARD_DELFLAG, X.BOARD_CATEGORY, X.BOARD_PW, X.MEMBER_ID
		FROM (
		SELECT ROWNUM AS rnum,
		A.BOARD_NO, A.BOARD_NOTICE_NO, A.BOARD_QNA_NO, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE, A.BOARD_READCOUNT,
		A.BOARD_GROUPNO, A.BOARD_GROUPSEQ, A.BOARD_TITLETAB, A.BOARD_DELFLAG, A.BOARD_CATEGORY, A.BOARD_PW, A.MEMBER_ID
		FROM (
		SELECT
		B.BOARD_NO, B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD b, MEMBER m
		WHERE BOARD_CATEGORY = 'N' AND B.MEMBER_ID = M.MEMBER_ID
		ORDER BY BOARD_DATE DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
	
	<select id="board_qna_list" parameterType="PagingDto" resultType="BoardDto">
		SELECT X.rnum,
		X.BOARD_NO, X.BOARD_NOTICE_NO, X.BOARD_QNA_NO, X.BOARD_TITLE, X.BOARD_CONTENT, X.BOARD_DATE, X.BOARD_READCOUNT,
		X.BOARD_GROUPNO, X.BOARD_GROUPSEQ, X.BOARD_TITLETAB, X.BOARD_DELFLAG, X.BOARD_CATEGORY, X.BOARD_PW, X.MEMBER_ID
		FROM (
		SELECT ROWNUM AS rnum,
		A.BOARD_NO, A.BOARD_NOTICE_NO, A.BOARD_QNA_NO, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE, A.BOARD_READCOUNT,
		A.BOARD_GROUPNO, A.BOARD_GROUPSEQ, A.BOARD_TITLETAB, A.BOARD_DELFLAG, A.BOARD_CATEGORY, A.BOARD_PW, A.MEMBER_ID
		FROM (
		SELECT
		B.BOARD_NO, B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD b, MEMBER m
		WHERE BOARD_CATEGORY = 'Q' AND B.MEMBER_ID = M.MEMBER_ID
		ORDER BY BOARD_DATE DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
	
	<select id="mypage_list" resultType="boardDto">
		SELECT BOARD_NO,BOARD_NOTICE_NO,BOARD_QNA_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_DATE,BOARD_READCOUNT,BOARD_GROUPNO,BOARD_GROUPSEQ,
		BOARD_TITLETAB,BOARD_DELFLAG,BOARD_CATEGORY,BOARD_PW,MEMBER_ID
		FROM BOARD
		WHERE MEMBER_ID = #{member_id}
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="board_notice_search">
		SELECT X.rnum,
		X.BOARD_NO, X.BOARD_NOTICE_NO, X.BOARD_QNA_NO, X.BOARD_TITLE, X.BOARD_CONTENT, X.BOARD_DATE, X.BOARD_READCOUNT,
		X.BOARD_GROUPNO, X.BOARD_GROUPSEQ, X.BOARD_TITLETAB, X.BOARD_DELFLAG, X.BOARD_CATEGORY, X.BOARD_PW, X.MEMBER_ID
		FROM (
		SELECT ROWNUM AS rnum,
		A.BOARD_NO, A.BOARD_NOTICE_NO, A.BOARD_QNA_NO, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE, A.BOARD_READCOUNT,
		A.BOARD_GROUPNO, A.BOARD_GROUPSEQ, A.BOARD_TITLETAB, A.BOARD_DELFLAG, A.BOARD_CATEGORY, A.BOARD_PW, A.MEMBER_ID
		FROM (
		SELECT
		B.BOARD_NO, B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD b, MEMBER m
		WHERE BOARD_CATEGORY = 'N' AND B.MEMBER_ID = M.MEMBER_ID
		ORDER BY BOARD_DATE DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
	
	<select id="selectOne" resultType="boardDto" parameterType="int">
		SELECT B.BOARD_NO , B.BOARD_NOTICE_NO, B.BOARD_QNA_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE, B.BOARD_READCOUNT,
		B.BOARD_GROUPNO, B.BOARD_GROUPSEQ, B.BOARD_TITLETAB, B.BOARD_DELFLAG, B.BOARD_CATEGORY, B.BOARD_PW, M.MEMBER_NICNAME AS MEMBER_ID
		FROM BOARD B, MEMBER M
		WHERE BOARD_NO = #{board_no}
		AND B.MEMBER_ID = M.MEMBER_ID
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(#{board_no},#{board_notice_no},#{board_qna_no},#{board_title},#{board_content},#{board_date},#{board_readcount},
		#{board_groupno},#{board_groupseq},#{board_titletab},#{board_delflag},#{board_category},#{board_pw},#{member_id})
	
	</insert>
	
	<insert id="notice_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,BOARD_NOTICE_NO_SEQ.NEXTVAL,NULL,#{board_title},#{board_content},SYSDATE,0,
		0,0,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<insert id="qna_insert" parameterType="boardDto">
		INSERT INTO BOARD
		VALUES(BOARD_NO_SEQ.NEXTVAL,NULL,BOARD_QNA_NO_SEQ.NEXTVAL,#{board_title},#{board_content},SYSDATE,0,
		BOARD_GROUPNO_SEQ.NEXTVAL,1,0,'N',#{board_category},#{board_pw},#{member_id})
	</insert>
	
	<update id="update" parameterType="boardDto">
		UPDATE BOARD SET
		BOARD_TITLE=#{board_title},BOARD_CONTENT=#{board_content},
		BOARD_DATE=SYSDATE
		WHERE BOARD_NO = #{board_no}
	</update>
	<update id="board_read" parameterType="boardDto">
		UPDATE BOARD SET
		BOARD_READCOUNT = #{board_readcount}
		WHERE BOARD_NO = #{board_no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>
	<select id="qna_count" resultType="int">
		SELECT COUNT(BOARD_QNA_NO) AS cnt FROM BOARD WHERE BOARD_CATEGORY = 'Q'
	</select>
	<select id="notice_count" resultType="int">
		SELECT COUNT(BOARD_NOTICE_NO) AS cnt FROM BOARD WHERE BOARD_CATEGORY = 'N'
	</select>
	<select id="search_notice_count" resultType="int" parameterType="pagingDto">
		SELECT COUNT(*) AS cnt FROM BOARD B, MEMBER M WHERE B.BOARD_CATEGORY = 'N' AND B.MEMBER_ID = M.MEMBER_ID 
		<choose>
			<when test="search_category != null and search_category.equals('nicname')">
				AND M.MEMBER_NICNAME LIKE '%'||#{search_keyword}||'%'
			</when>
			<when test="search_category != null and search_category.equals('title')">
				AND B.BOARD_TITLE LIKE '%'||#{search_keyword}||'%'
			</when>
			<when test="search_category != null and search_category.equals('content+title')">
				AND(
				B.BOARD_TITLE LIKE '%'||#{search_keyword}||'%'
				OR B.BOARD_CONTENT LIKE '%'||#{search_keyword}||'%'
				)
			</when>
		</choose>
	</select>
</mapper>