<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="class">
	<select id="selectList" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_MEMBER_NUM, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		ORDER BY CLASS_NO DESC
	</select>
	
	<select id="selectOne" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_MEMBER_NUM, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		WHERE CLASS_NO = #{class_no}
	</select>
	
	<select id="selectOneByTitle" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_MEMBER_NUM, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		WHERE CLASS_TITLE = #{class_title}
	</select>
	
	<insert id="insert" parameterType="classDto">
		INSERT INTO CLASS
		VALUES(CLASS_NO_SEQ.NEXTVAL, #{class_title}, #{class_desc}, #{class_loc}, #{class_category}, #{class_member_num}, #{class_price}, #{class_sale}, #{member_id})
	</insert>
	
	<update id="update" parameterType="classDto">
		UPDATE CLASS
		SET CLASS_TITLE = #{class_title}, CLASS_DESC = #{class_desc}, CLASS_LOC = #{class_loc}, CLASS_MEMBER_NUM = #{class_member_num}, CLASS_PRICE = #{class_price}, CLASS_SALE = #{class_sale} 
		WHERE CLASS_NO = #{class_no}
	</update>
	
	<delete id="delete">
		DELETE FROM CLASS
		WHERE CLASS_NO = #{class_no}
	</delete>
</mapper>
