<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="class">
	<select id="selectList" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		ORDER BY CLASS_NO DESC
	</select>
	
	<select id="totalList" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		ORDER BY CLASS_NO DESC
	</select>
	
	<select id="classList" parameterType="PagingDto" resultType="classDto">
		SELECT X.rnum,
		X.CLASS_NO, X.CLASS_TITLE, X.CLASS_DESC, X.CLASS_LOC, X.CLASS_CATEGORY, X.CLASS_PRICE, X.CLASS_SALE, X.MEMBER_ID
		FROM (
		SELECT ROWNUM AS rnum,
		A.CLASS_NO, A.CLASS_TITLE, A.CLASS_DESC, A.CLASS_LOC, A.CLASS_CATEGORY, A.CLASS_PRICE, A.CLASS_SALE, A.MEMBER_ID
		FROM (
		SELECT
		C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE, C.CLASS_SALE, C.MEMBER_ID
		FROM CLASS c
		ORDER BY CLASS_NO DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
	
	<select id="main_selectList" resultType="classDto">
		SELECT X.CLASS_NO, X.CLASS_TITLE , X.CLASS_PRICE, X.FILE_NEW_NAME
		FROM(
			SELECT ROWNUM as rnum,A.avg,A.CLASS_TITLE, A.CLASS_NO, A.CLASS_PRICE , A.FILE_NEW_NAME
			FROM(
				SELECT AVG(R.REVIEW_RATE) AS avg, C.CLASS_TITLE, C.CLASS_NO , C.CLASS_PRICE , F.FILE_NEW_NAME
				FROM CLASS C, REVIEW R, FILE_TABLE F
				WHERE C.CLASS_NO = R.CLASS_NO
				AND F.CLASS_NO = C.CLASS_NO
				AND F.FILE_ORI_NAME = 'thumbnail'
				GROUP BY C.CLASS_TITLE, C.CLASS_NO, C.CLASS_PRICE, F.FILE_NEW_NAME
				ORDER BY avg desc
				)A
			WHERE ROWNUM <![CDATA[ <= ]]> 3
			) X
		WHERE X.rnum <![CDATA[ >= ]]> 1
	</select>
	<select id="selectfile" resultType="classDto" parameterType="int" >
		SELECT F.FILE_NEW_NAME
		FROM CLASS C, FILE_TABLE F
		WHERE C.CLASS_NO = F.CLASS_NO
		AND C.CLASS_NO = #{class_no}
		AND F.FILE_ORI_NAME != 'thumbnail'
	</select>
	<select id="selectOne" resultType="classDto" parameterType="int">
		SELECT C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE, C.CLASS_SALE, M.MEMBER_NICNAME AS MEMBER_ID, F.FILE_NEW_NAME
		FROM CLASS C, FILE_TABLE F, MEMBER M
		WHERE C.CLASS_NO = F.CLASS_NO
		AND C.MEMBER_ID = M.MEMBER_ID 
		AND C.CLASS_NO = #{class_no}
		AND F.FILE_ORI_NAME = 'thumbnail'
	</select>
	
	<select id="selectOneByTitle" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		WHERE CLASS_TITLE = #{class_title}
	</select>
		
	<insert id="insert" parameterType="classDto">
		INSERT INTO CLASS
		VALUES(CLASS_NO_SEQ.NEXTVAL, #{class_title}, #{class_desc}, #{class_loc}, #{class_category}, #{class_price}, #{class_sale}, #{member_id})
		<selectKey keyProperty="class_no" resultType="int" >
			SELECT CLASS_NO_SEQ.CURRVAL From DUAL
		</selectKey>
	</insert>
	
	<update id="update" parameterType="classDto">
		UPDATE CLASS
		SET CLASS_TITLE = #{class_title}, CLASS_DESC = #{class_desc}, CLASS_LOC = #{class_loc}, CLASS_PRICE = #{class_price}, CLASS_SALE = #{class_sale} 
		WHERE CLASS_NO = #{class_no}
	</update>
	
	<update id="updateSale" parameterType="classDto">
		UPDATE CLASS
		SET CLASS_SALE = #{class_sale}
		WHERE CLASS_NO = #{class_no}
	</update>
	
	<delete id="delete">
		DELETE FROM CLASS
		WHERE CLASS_NO = #{class_no}
	</delete>
	
	<select id="classListPaging"  parameterType="PagingDto" resultType="classDto">
		SELECT X.rnum,
		X.CLASS_NO, X.CLASS_TITLE, X.CLASS_DESC, X.CLASS_LOC, X.CLASS_CATEGORY, X.CLASS_PRICE,
		X.CLASS_SALE, X.MEMBER_ID, X.FILE_NEW_NAME
		FROM (
			SELECT anum AS rnum,
			A.CLASS_NO, A.CLASS_TITLE, A.CLASS_DESC, A.CLASS_LOC, A.CLASS_CATEGORY, A.CLASS_PRICE,
			A.CLASS_SALE, A.MEMBER_ID, A.FILE_NEW_NAME
			FROM (
				SELECT ROWNUM as anum,
				B.CLASS_NO, B.CLASS_TITLE, B.CLASS_DESC, B.CLASS_LOC, B.CLASS_CATEGORY, B.CLASS_PRICE,
				B.CLASS_SALE, B.MEMBER_ID, B.FILE_NEW_NAME
				FROM (
					SELECT C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE,
					C.CLASS_SALE, M.MEMBER_NICNAME AS MEMBER_ID , F.FILE_NEW_NAME
					FROM CLASS C , FILE_TABLE F , MEMBER M
					WHERE C.CLASS_NO = F.CLASS_NO
					AND C.MEMBER_ID = M.MEMBER_ID
					AND F.FILE_ORI_NAME = 'thumbnail'
					ORDER BY C.CLASS_NO DESC
					) B
				)A
			WHERE anum <![CDATA[ <= ]]>
			#{pageEnd}
			) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}	
	</select>
	
	<select id="classListCount" resultType="int">
		SELECT COUNT(CLASS_NO)
		FROM CLASS	
	</select>
	
	<select id="categoryListPaging" parameterType="PagingDto" resultType="classDto">
		SELECT X.rnum,
		X.CLASS_NO, X.CLASS_TITLE, X.CLASS_DESC, X.CLASS_LOC, X.CLASS_CATEGORY, X.CLASS_PRICE,
		X.CLASS_SALE, X.MEMBER_ID, X.FILE_NEW_NAME
		FROM (
			SELECT anum AS rnum,
			A.CLASS_NO, A.CLASS_TITLE, A.CLASS_DESC, A.CLASS_LOC, A.CLASS_CATEGORY, A.CLASS_PRICE,
			A.CLASS_SALE, A.MEMBER_ID, A.FILE_NEW_NAME
			FROM (
				SELECT ROWNUM as anum,
				B.CLASS_NO, B.CLASS_TITLE, B.CLASS_DESC, B.CLASS_LOC, B.CLASS_CATEGORY, B.CLASS_PRICE,
				B.CLASS_SALE, B.MEMBER_ID, B.FILE_NEW_NAME
				FROM (
					SELECT C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE,
					C.CLASS_SALE, M.MEMBER_NICNAME AS MEMBER_ID , F.FILE_NEW_NAME
					FROM CLASS C JOIN FILE_TABLE F
					ON C.CLASS_NO = F.CLASS_NO
					JOIN MEMBER M 
					ON C.MEMBER_ID = M.MEMBER_ID
					WHERE C.CLASS_CATEGORY = #{class_category}
					AND F.FILE_ORI_NAME = 'thumbnail'
					ORDER BY C.CLASS_NO DESC
					) B
				)A
			WHERE anum <![CDATA[ <= ]]>
			#{pageEnd}
			) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}	
	</select>
	
	<select id="classListSearch" parameterType="PagingDto" resultType="classDto">
		SELECT X.rnum,
		X.CLASS_NO, X.CLASS_TITLE, X.CLASS_DESC, X.CLASS_LOC, X.CLASS_CATEGORY, X.CLASS_PRICE,
		X.CLASS_SALE, X.MEMBER_ID, X.FILE_NEW_NAME
		FROM (
			SELECT anum AS rnum,
			A.CLASS_NO, A.CLASS_TITLE, A.CLASS_DESC, A.CLASS_LOC, A.CLASS_CATEGORY, A.CLASS_PRICE,
			A.CLASS_SALE, A.MEMBER_ID, A.FILE_NEW_NAME
			FROM (
				SELECT ROWNUM as anum,
				B.CLASS_NO, B.CLASS_TITLE, B.CLASS_DESC, B.CLASS_LOC, B.CLASS_CATEGORY, B.CLASS_PRICE,
				B.CLASS_SALE, B.MEMBER_ID, B.FILE_NEW_NAME
				FROM (
					SELECT C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE,
					C.CLASS_SALE, M.MEMBER_NICNAME AS MEMBER_ID, F.FILE_NEW_NAME
					FROM CLASS C JOIN FILE_TABLE F
					ON C.CLASS_NO = F.CLASS_NO
					JOIN MEMBER M 
					ON C.MEMBER_ID = M.MEMBER_ID
					<choose>
						<when test='search_category != null and search_category.equals("nickname")'>
							WHERE M.MEMBER_NICNAME LIKE '%'||#{search_keyword}||'%'
						</when>					
						<otherwise>
							WHERE 
							C.CLASS_TITLE LIKE '%'||#{search_keyword}||'%'
							OR C.CLASS_DESC LIKE '%'||#{search_keyword}||'%'
							OR C.CLASS_CATEGORY LIKE '%'||#{search_keyword}||'%'
						</otherwise>
					</choose>
					AND F.FILE_ORI_NAME = 'thumbnail'
					ORDER BY C.CLASS_NO DESC
					) B
				)A
			WHERE anum <![CDATA[ <= ]]>
			#{pageEnd}
			) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}		
	</select>
	
	<select id="classSearchCount" resultType="int" parameterType="pagingDto">
		SELECT COUNT(*) AS cnt 
		FROM CLASS C JOIN MEMBER M ON C.MEMBER_ID = M.MEMBER_ID 
		<choose>
			<when test="search_category != null and search_category.equals('nickname')">
				WHERE M.MEMBER_NICNAME LIKE '%'||#{search_keyword}||'%'
			</when>
			<otherwise>
				WHERE 
					C.CLASS_TITLE LIKE '%'||#{search_keyword}||'%'
					OR C.CLASS_DESC LIKE '%'||#{search_keyword}||'%'
					OR C.CLASS_CATEGORY LIKE '%'||#{search_keyword}||'%'
					
			</otherwise>
		</choose>	
	</select>
	
	<select id="searchedList" parameterType="String" resultType="classDto">
		SELECT CLASS_NO, CLASS_TITLE, CLASS_DESC, CLASS_LOC, CLASS_CATEGORY, CLASS_PRICE, CLASS_SALE, MEMBER_ID
		FROM CLASS
		WHERE CLASS_TITLE LIKE '%'||#{search_keyword}||'%'
	</select>
	
	<select id="classcategoryCount" resultType="int" parameterType="String">
		SELECT COUNT(*) AS cnt
		FROM CLASS
		WHERE CLASS_CATEGORY = #{class_category}
	</select>
	
	<select id="myClassCount" parameterType="String" resultType="int">
		SELECT COUNT(CLASS_NO) AS cnt
		FROM CLASS
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="myClassList" parameterType="PagingDto" resultType="classDto">
		SELECT X.rnum,
		X.CLASS_NO, X.CLASS_TITLE, X.CLASS_DESC, X.CLASS_LOC, X.CLASS_CATEGORY, X.CLASS_PRICE, X.CLASS_SALE, X.MEMBER_ID
		FROM (
		SELECT ROWNUM AS rnum,
		A.CLASS_NO, A.CLASS_TITLE, A.CLASS_DESC, A.CLASS_LOC, A.CLASS_CATEGORY, A.CLASS_PRICE, A.CLASS_SALE, A.MEMBER_ID
		FROM (
		SELECT
		C.CLASS_NO, C.CLASS_TITLE, C.CLASS_DESC, C.CLASS_LOC, C.CLASS_CATEGORY, C.CLASS_PRICE, C.CLASS_SALE, C.MEMBER_ID
		FROM CLASS c
		WHERE MEMBER_ID = #{member_id}
		ORDER BY CLASS_NO DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>

</mapper>
