<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">

	<select id="selectList" resultType="productDto">
		SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_DESC, PRODUCT_LOC,
		PRODUCT_DEL, PRODUCT_SALE
		FROM PRODUCT 
		ORDER BY PRODUCT_NO
	</select>

	<select id="selectListPaging" parameterType="storePagingDto" resultType="productDto">
		SELECT X.rnum,
		X.PRODUCT_NO,X.FILE_NUM, X.PRODUCT_NAME,  X.PRODUCT_CATEGORY, X.PRODUCT_PRICE, X.PRODUCT_DESC, X.PRODUCT_LOC,
		X.PRODUCT_DEL, X.PRODUCT_SALE, X.FILE_NEW_NAME
		FROM (
			SELECT anum AS rnum,
			A.PRODUCT_NO, A.FILE_NUM, A.PRODUCT_NAME, A.PRODUCT_CATEGORY, A.PRODUCT_PRICE, A.PRODUCT_DESC, A.PRODUCT_LOC,
			A.PRODUCT_DEL, A.PRODUCT_SALE, A.FILE_NEW_NAME
			FROM (
				SELECT ROWNUM as anum,
				B.PRODUCT_NO , B.FILE_NUM, B.PRODUCT_NAME, B.PRODUCT_CATEGORY, B.PRODUCT_PRICE, B.PRODUCT_DESC, B.PRODUCT_LOC,
				B.PRODUCT_DEL, B.PRODUCT_SALE, B.FILE_NEW_NAME
				FROM (
					SELECT P.PRODUCT_NO, F.FILE_NUM, P.PRODUCT_NAME, P.PRODUCT_CATEGORY, P.PRODUCT_PRICE, P.PRODUCT_DESC, P.PRODUCT_LOC,
					P.PRODUCT_DEL, P.PRODUCT_SALE, F.FILE_NEW_NAME 	, ROW_NUMBER() OVER(PARTITION BY P.PRODUCT_NO ORDER BY F.FILE_NUM DESC) as RowIdx
					FROM PRODUCT p JOIN FILE_TABLE F
					ON P.PRODUCT_NO = F.PRODUCT_NO
					ORDER BY P.PRODUCT_NO DESC
					) B
				WHERE RowIdx = 1
				)A
			WHERE anum <![CDATA[ <= ]]>
			#{pageEnd}
			) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
			
	<select id="productList" parameterType="PagingDto" resultType="productDto">
		SELECT X.rnum,
		X.PRODUCT_NO, X.PRODUCT_NAME, X.PRODUCT_CATEGORY, X.PRODUCT_PRICE, X.PRODUCT_DESC, X.PRODUCT_LOC,
		X.PRODUCT_DEL, X.PRODUCT_SALE
		FROM (
		SELECT ROWNUM AS rnum,
		A.PRODUCT_NO, A.PRODUCT_NAME, A.PRODUCT_CATEGORY, A.PRODUCT_PRICE, A.PRODUCT_DESC, A.PRODUCT_LOC,
		A.PRODUCT_DEL, A.PRODUCT_SALE
		FROM (
		SELECT
		P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_CATEGORY, P.PRODUCT_PRICE, P.PRODUCT_DESC, P.PRODUCT_LOC,
		P.PRODUCT_DEL, P.PRODUCT_SALE
		FROM PRODUCT p
		ORDER BY PRODUCT_NO DESC
		) A
		WHERE ROWNUM <![CDATA[ <= ]]>
		#{pageEnd}
		) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	</select>
	
	<select id="selectListSearch" parameterType="storePagingDto" resultType="productDto">
		SELECT X.rnum,
		X.PRODUCT_NO, X.PRODUCT_NAME, X.PRODUCT_CATEGORY, X.PRODUCT_PRICE, X.PRODUCT_DESC, X.PRODUCT_LOC,
		X.PRODUCT_DEL, X.PRODUCT_SALE, X.FILE_NEW_NAME
		FROM (
			SELECT anum AS rnum,
			A.PRODUCT_NO, A.PRODUCT_NAME, A.PRODUCT_CATEGORY, A.PRODUCT_PRICE, A.PRODUCT_DESC, A.PRODUCT_LOC,
			A.PRODUCT_DEL, A.PRODUCT_SALE, A.FILE_NEW_NAME
			FROM (
				SELECT ROWNUM as anum,
				B.PRODUCT_NO, B.PRODUCT_NAME, B.PRODUCT_CATEGORY, B.PRODUCT_PRICE, B.PRODUCT_DESC, B.PRODUCT_LOC,
				B.PRODUCT_DEL, B.PRODUCT_SALE, B.FILE_NEW_NAME
				FROM (
					SELECT P.PRODUCT_NO, P.PRODUCT_NAME, P.PRODUCT_CATEGORY, P.PRODUCT_PRICE, P.PRODUCT_DESC, P.PRODUCT_LOC,
					P.PRODUCT_DEL, P.PRODUCT_SALE, F.FILE_NEW_NAME , ROW_NUMBER() OVER(PARTITION BY P.PRODUCT_NO ORDER BY F.FILE_NUM DESC) as RowIdx
					FROM PRODUCT p JOIN FILE_TABLE F
					ON P.PRODUCT_NO = F.PRODUCT_NO
					WHERE P.PRODUCT_NAME LIKE '%'||#{search_keyword}||'%'
					OR P.PRODUCT_DESC LIKE '%'||#{search_keyword}||'%'				
					ORDER BY P.PRODUCT_NO DESC
					) B
				WHERE RowIdx = 1
				)A
			WHERE anum <![CDATA[ <= ]]>
			#{pageEnd}
			) X
		WHERE X.rnum <![CDATA[ >= ]]>
		#{pageBegin}
	
	
	</select>
	
	
	<select id="selectOne" parameterType="int" resultType="productDto">
		SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_DESC, PRODUCT_LOC,
		PRODUCT_DEL, PRODUCT_SALE
		FROM PRODUCT
		WHERE PRODUCT_NO = #{product_no}
	</select>
	
	<select id="selectOneByName" parameterType="String" resultType="productDto">
		SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CATEGORY, PRODUCT_PRICE, PRODUCT_DESC, PRODUCT_LOC,
		PRODUCT_DEL, PRODUCT_SALE
		FROM PRODUCT
		WHERE PRODUCT_NAME = #{product_name}
	</select>
	
	<insert id="insert" parameterType="productDto">
		INSERT INTO PRODUCT
		VALUES(PRODUCT_NO_SEQ.NEXTVAL, #{product_name}, #{product_category}, #{product_price}, #{product_desc}, #{product_loc}, #{product_del},
		#{product_sale})
		<selectKey keyProperty="product_no" resultType="int" >
			SELECT PRODUCT_NO_SEQ.CURRVAL From DUAL
		</selectKey>
	</insert>
	
	<update id="updateSale" parameterType="productDto">
		UPDATE PRODUCT
		SET PRODUCT_SALE = #{product_sale}
		WHERE PRODUCT_NO = #{product_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM PRODUCT 
		WHERE PRODUCT_NO = #{product_no}
	</delete>
	
	<select id="productCount" resultType="int">
		SELECT COUNT(PRODUCT_NO)
		FROM PRODUCT
	</select>
	
	<select id="productListCount" resultType="int">
		SELECT COUNT(PRODUCT_NO)
		FROM PRODUCT
	</select>
	
	<select id="productSearchCount" resultType="int" parameterType="storePagingDto">
		SELECT COUNT(*) AS cnt
		FROM PRODUCT
		WHERE PRODUCT_NAME LIKE '%'||#{search_keyword}||'%'
		OR PRODUCT_DESC LIKE '%'||#{search_keyword}||'%'
	</select>
</mapper>
