<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="selectList" resultType="reviewDto">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_RATE, REVIEW_DATE, REVIEW_CONTENT, PRODUCT_NO, CLASS_NO, MEMBER_ID
		FROM REVIEW
		ORDER BY REVIEW_NO
	</select>
	
	<select id="selectOne" parameterType="int" resultType="reviewDto">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_RATE, REVIEW_DATE, REVIEW_CONTENT, PRODUCT_NO, CLASS_NO, MEMBER_ID
		FROM REVIEW
		WHERE REVIEW_NO = #{review_no}
	</select>
	<select id="search" resultType="searchDto">
		SELECT X.PRODUCT_NO,X.CLASS_NO
		FROM 
			(
			SELECT A.avg,A.PRODUCT_NO ,A.CLASS_NO, ROWNUM as rnum
			FROM
					(
					SELECT AVG(REVIEW_RATE)as avg, PRODUCT_NO, CLASS_NO
					FROM REVIEW 
					WHERE PRODUCT_NO IN (
					   		        SELECT PRODUCT_NO 
					   		        FROM REVIEW 
					   		        )
					OR CLASS_NO IN (
							SELECT CLASS_NO
							FROM REVIEW 
							) 
					GROUP BY PRODUCT_NO , CLASS_NO
					ORDER BY AVG DESC
					) A
			WHERE ROWNUM <![CDATA[ <= ]]> 5
			) X	
		WHERE rnum <![CDATA[ >= ]]> 1
	</select>
	
	<select id="avgList" parameterType="int" resultType="reviewDto">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_RATE, REVIEW_DATE, REVIEW_CONTENT, PRODUCT_NO, CLASS_NO, MEMBER_ID
		FROM REVIEW
		WHERE CLASS_NO = #{class_no}
	</select>
	
	<insert id="insert" parameterType="reviewDto">
		INSERT INTO REVIEW
		VALUES(REVIEW_NO_SEQ.NEXTVAL,#{review_title},#{review_rate},SYSDATE,#{review_content},NULL,#{class_no},#{member_id})
		<selectKey keyProperty="review_no" resultType="int" >
			SELECT REVIEW_NO_SEQ.CURRVAL From DUAL
		</selectKey>

	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM REVIEW 
		WHERE REVIEW_NO = #{review_no}
	</delete>
	
	<select id="selectClass" resultType="reviewDto">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_RATE, REVIEW_DATE, REVIEW_CONTENT, PRODUCT_NO, CLASS_NO, MEMBER_ID
		FROM REVIEW
		WHERE CLASS_NO > 0
		ORDER BY REVIEW_NO
	</select>
	
	<select id="selectProduct" resultType="reviewDto">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_RATE, REVIEW_DATE, REVIEW_CONTENT, PRODUCT_NO, CLASS_NO, MEMBER_ID
		FROM REVIEW
		WHERE PRODUCT_NO > 0
		ORDER BY REVIEW_NO
	</select>

	<insert id="insertProduct" parameterType="reviewDto">
		INSERT INTO REVIEW
		VALUES(REVIEW_NO_SEQ.NEXTVAL,#{review_title},#{review_rate},SYSDATE,#{review_content},#{product_no},NULL,#{member_id})
		<selectKey keyProperty="review_no" resultType="int" >
			SELECT REVIEW_NO_SEQ.CURRVAL From DUAL
		</selectKey>

	</insert>	
	
</mapper>
