<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="room">
	<select id="selectList" resultType="roomDto">
		SELECT ROOM_NO, MEMBER_ID, CONSULT_ID, ROOM_CONTENT, ROOM_DATE
		FROM ROOM
		ORDER BY ROOM_NO
	</select>
	<select id="selectListByUser" parameterType="String" resultType="roomDto">
		SELECT R.ROOM_NO, R.MEMBER_ID, R.CONSULT_ID, R.ROOM_CONTENT, R.ROOM_DATE ,
			(SELECT COUNT(*) 
			FROM CHATTING C 
			WHERE R.ROOM_NO = C.ROOM_NO
			AND C.CHATTING_READ = 'N') AS cnt
		FROM ROOM R
		WHERE R.MEMBER_ID = #{member_id}
		ORDER BY R.ROOM_NO
	</select>
	<select id="selectListByConsult" parameterType="String" resultType="roomDto">
		SELECT ROOM_NO, MEMBER_ID, CONSULT_ID, ROOM_CONTENT, ROOM_DATE
		FROM ROOM
		WHERE CONSULT_ID = #{consult_id}
		ORDER BY ROOM_NO
	</select>
	<select id="selectOne" parameterType="int" resultType="roomDto">
		SELECT ROOM_NO, MEMBER_ID, CONSULT_ID, ROOM_CONTENT, ROOM_DATE
		FROM ROOM
		WHERE ROOM_NO = #{room_no}
	</select>
	
	<insert id="insert" parameterType="roomDto">
		INSERT INTO ROOM
		VALUES(ROOM_NO_SEQ.NEXTVAL,#{member_id},#{consult_id},NULL,SYSDATE)
		<selectKey keyProperty="room_no" resultType="int" >
			SELECT ROOM_NO_SEQ.CURRVAL From DUAL
		</selectKey>		
	</insert>
	<update id="update" parameterType="roomDto">
		UPDATE ROOM
		SET ROOM_DATE = SYSDATE , ROOM_CONTENT = #{room_content}
		WHERE ROOM_NO = #{room_no}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM ROOM
		WHERE ROOM_NO = #{room_no}
	</delete>
	<select id ="isRoom" parameterType="roomDto" resultType = "roomDto">
	SELECT ROOM_NO FROM ROOM
	WHERE MEMBER_ID = #{member_id} AND CONSULT_ID = #{consult_id} 
	</select>
</mapper>
